*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navigation_size 
{
    position: absolute;
	display: flex;
	align-items: center;
	margin-top: 15%;
	transition: 0.5s;
}
.navigation 
{
	position: relative;
	width: 70px;
	height: 350px;
	background: var(--color-light-purple);
	border-radius: 15px;
	box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
.navigation ul 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.navigation ul li 
{
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.navigation ul li a 
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
	color: #333;
	font-weight: 500;
    font-family: 'SFProRounded';
    margin-top: 32.5%;
}
.navigation ul li a .icon 
{
	position: relative;
	display: block;
	line-height: 75px;
	text-align: center;
	transition: 0.5s;
}
.navigation ul li.active a .icon 
{
	color: #fff;
}
.navigation ul li a .icon i
{
	font-size: 1.5em;
}
.navigation ul li a .title 
{
	position: absolute;
	top: 50%;
	left: 110px;
	background: #fff;
	transform: translateY(-50%);
	padding: 5px 10px;
	border-radius: 6px;
	transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	opacity: 0;
	visibility: hidden;
}
.navigation ul li:hover a .title 
{
	opacity: 1;
	visibility: visible;
	transform: translateX(-25px) translateY(-50%);
}

.actions_user {
	text-decoration: none;
	margin: 0 3%;
}

.navigation ul li a .title::before 
{
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	background: #fff;
	left: -8px;
	top: 46%;
	transition: 0.5s;
	transform: rotate(45deg) translateY(-50%);
	border-radius: 2px;
}
.navigation ul .indicator 
{
	position: absolute;
	left: 0;
	width: 70px;
	height: 70px;
	transition: 0.5s;
}
/* .navigation ul .indicator::before 
{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	background: #333;
	border-radius: 50%;
	transition: 0.5s;
} */
.navigation ul li:nth-child(1).active ~ .indicator 
{
	transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator 
{
	transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator 
{
	transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator 
{
	transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator 
{
	transform: translateY(calc(70px * 4));
}

main {
	position: absolute;
	width: 93%;
	height: 90%;
	margin-top: 4%;
	margin-left: 5%;

	text-align: center;
	justify-content: center;
	align-items: center;

    overflow-y: scroll;
}

main::-webkit-scrollbar {
	background: transparent;
}


#main_page {
	width: 95%;
	height: 95%;
	background-color: #c9c4cfbd;
	-webkit-box-shadow: 0 4px 11.5px 3.5px #858585;
	-moz-box-shadow: 0 4px 11.5px 3.5px #858585;
	box-shadow: 0 4px 11.5px 3.5px #858585;
	border-radius: 15px;
	margin: 3% 0;
	margin-left: 4%;
	margin-top: 2%;
}

#main_page h1 {
	font-size: 3em;
	color: #3c4043;
	font-weight: 400;
	font-family: 'SFPro';
}

#main_page .img_h1 {
	width: 50px;
	height: 50px;
	margin-top: -2.75%;
	margin-left: 21%;
}

#main_page .img_center {
	width: 80%;
	height: 80%;
	margin-top: 5%;
}

#second_page {
	width: 99.8%;
	height: 100%;
	background-color: #eaf1fb;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
	margin: 3% 0;
	margin-left: 0.1%;
}

#second_page .img_h1 {
	width: 60px;
	height: 50px;
	margin-top: -3%;
	margin-left: 17%;
}

#second_page h1 {
	font-size: 3em;
	color: #3c4043;
	font-weight: 400;
	font-family: 'SFPro';
}

#second_page .table_users {
	width: 90%;
	height: 88%;
	margin-top: 2%;
	margin-left: 5%;
	border-radius: 15px;
	overflow-y: scroll;
}

#second_page .table_users::-webkit-scrollbar {
	background: transparent;
}

.responsive-table {
	margin-top: 0.5%;
	margin-left: 1%;
}

.responsive-table li {
	border-radius: 3px;
	padding: 20px 30px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.responsive-table .table-header {
	background-color: #85a0f259;
	font-size: .95em;
	letter-spacing: 0.03em;
	font-family: 'SFPro';
}

.responsive-table .table-row {
	background-color: #ffffff3d;
	/* box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); */
	font-size: .85em;
	font-family: 'SFProRounded';
}

.actions_user img {
	width: 30px;
	height: 30px;
	margin-top: -5%;
}

.actions_user .title {
	margin-top: -1.5%;
	position: absolute;
	background: #fff;
	transform: translateY(-50%);
	padding: 5px 10px;
	border-radius: 6px;
	transition: 0.5s;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	opacity: 0;
	visibility: hidden;
	font-size: 1em;
	color: #3c4043;
	font-weight: 400;
	font-family: 'SFPro';
}

.actions_user:hover span 
{
	opacity: 1;
	visibility: visible;
	transform: translateX(-25px) translateY(-50%);
}

.responsive-table .col-1 {
	flex-basis: 10%;
}

.responsive-table .col-2 {
	flex-basis: 20%;
}

.responsive-table .col-3 {
	flex-basis: 20%;
}

.responsive-table .col-4 {
	flex-basis: 20%;
}

.responsive-table .col-5 {
	flex-basis: 20%;
}

.responsive-table .col-6 {
	flex-basis: 20%;
}

.responsive-table .col-7 {
	flex-basis: 20%;
}

.responsive-table .col-8 {
	flex-basis: 20%;
}

.responsive-table .col-9 {
	flex-basis: 20%;
}