.login_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    width: 25%;
    height: 45%;
    margin-top: 10%;
    margin-left: 37.5%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid #dadce0;
}

.login_form h1 {
    position: relative;
    color: #202124;
    padding-bottom: 0;
    padding-top: 3%;
    font-family: 'SFProRounded';
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.3333;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    margin-top: 0;
    word-break: break-word;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    text-align: center;
}

.login_form span {
    position: relative;
    color: #202124;
    font-family: 'SFProRounded';
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: center;
}

.login_form_form {
    box-sizing: inherit;
    display: flex;
    font-size: 1em;
    white-space: normal;
    width: 85%;
    height: 45%;
    margin-left: 7.5%;
    margin-top: 2%;
    color: #202124;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    color-scheme: light;
    /* background-color: #202124; */
}

.login_form_form_email {
    position: relative;
    border-radius: 4px;
    color: #202124;
    z-index: 1;
    flex-shrink: 1;
    background-color: #C9C4CF;
    border: none;
    display: block;
    line-height: 30px;
    width: 400px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    /* border: 1px solid #dadce0; */
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-top: 20px;
}

.login_form_form_email::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

#login_form_form_password {
    position: relative;
    border-radius: 4px;
    z-index: 1;
    flex-shrink: 1;
    background-color: #C9C4CF;
    border: none;
    display: block;
    line-height: 30px;
    width: 400px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    /* border: 1px solid #dadce0; */
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-top: 20px;
}

#login_form_form_password::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

.form-group-checkbox {
    width: 65%;
    height: 20%;
    margin-top: 8%;
    align-items: left;
    text-align: left;
    justify-content: left;
    padding: 5px 5px 5px 0;
    background-color: aqua;
}

.checkbox_show_password input[type="checkbox"] {
    display: none;
}
.checkbox_show_password input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 2.5em;
    height: 1.1em;
    margin-bottom: 20px;
    background: #C9C4CF;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none;
}

.checkbox_show_password label span {
    position: absolute;
    text-align: left;
    width: 200px;
    margin-left: 60px;
    margin-top: -2px;
    color: #202124;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.checkbox_show_password input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: .7em;
    height: .7em;
    border-radius: 0.2em;
    background: #4F4F4B;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.checkbox_show_password input[type="checkbox"]:checked + label:before {
    background: #716282;
    left: 1.6em;
}


.checkbox_system input[type="checkbox"] {
    display: none;
}
.checkbox_system input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 2.5em;
    height: 1.1em;
    margin-bottom: 20px;
    background: #C9C4CF;
    border-radius: 0.2em;
    cursor: pointer;
    user-select: none;
}
.checkbox_system label span {
    position: absolute;
    text-align: left;
    width: 200px;
    margin-left: 60px;
    margin-top: -2px;
    color: #202124;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}
.checkbox_system input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: .7em;
    height: .7em;
    border-radius: 0.2em;
    background: #4F4F4B;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.checkbox_system input[type="checkbox"]:checked + label:before {
    background: #716282;
    left: 1.6em;
}

.bottom_checkbox_show_password {
    /* position: absolute; */
    /* margin-top: 31px; */
    margin-left: 20px;
    color: #555557;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.bottom_checkbox_system {
    position: absolute;
    /* margin-top: 31px; */
    margin-left: 20px;
    color: #555557;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.register_account {
    position: absolute;
    color: #202124;
    font-family: 'SFProRounded';
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    margin-top: 17.5%;
    margin-left: -200px;
    text-decoration: none;
}

.forgot_password {
    position: absolute;
    color: #202124;
    font-family: 'SFProRounded';
    font-size: .75rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    margin-top: 5px;
    margin-left: -200px;
    text-decoration: none;
}


input[type=submit] {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-width: 100px!important;
    min-width: 100px!important;
    max-height: 36px!important;
    min-height: 36px!important;
    margin-top: 15%;
    margin-left: 62.5%;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: #C9C4CF;
    color: #ffffff;
    padding: 9px 25px;
    text-decoration: none;
    font-size: .85em;
    transition: .2s;
    box-shadow: 0 6px 0 #716282;
}

input[type=submit]:active {
    transform: translateY(5px);
    box-shadow: 0 5px 0 #716282;
}

.submit_button:hover {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1em;
    font-family: 'SFProRounded';
    text-align: center;
    justify-content: center;
    align-items: center;
}

input:invalid {
    animation: shake .3s;
}

@keyframes shake {
    25% { transform: translateX(1.5%) }
    50% { transform: translateX(-1.5%) }
    75% { transform: translateX(1.5%) }
}

.captcha {
    position: absolute;
    margin-top: 1%;
}