
.navbar2 {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 68px!important;
    min-width: 68px!important;
    overflow: hidden;
    background-color: #eaf1fb;
    z-index: 4;
    height: 950px;
    width: 68px;
    border-radius: 0 15px 15px 0;
}

#show_more_elements_navbar_cloud {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_cloud_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_cloud_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_cloud_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_cloud_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_cloud_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_cloud_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_cloud_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_cloud_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_cloud_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_cloud_3:nth-child(even) {
    background-color: #eaf1fb5e;
}

.navbar2-ul ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    margin-top: 100px;
}

.navbar2-ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 48px;
    width: 68px;
    margin-left: -40px;
    padding-bottom: 20px;
    text-align: center;
}

.navbar2-ul li a {
    position: relative;
    font-size: .75em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 500;
}

.navbar2-ul li i {
    position: relative;
    font-size: 1.15em;
    color: #5f6368;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
}

.navbar2-ul li:hover {
    background-color: #d3e3fd;
    border-radius: 20px;
}

#icon-menu i {
    position: absolute;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    left: 22px;
    top: 15px;
}

#icon-menu:hover i {
    color: #d3e3fd;
    cursor: pointer;
}

#navbar-dropdown-cloud {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 100px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-cloud {
    background-color: #eaf1fb;
    text-align: center;
}

.top-class-navbar-dropdown-cloud h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.list-navbar-dropdown-cloud {
    background-color: #ffffff;
}

.list-navbar-dropdown-cloud li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-cloud ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-cloud i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-cloud ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-cloud ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-cloud ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}







#navbar-dropdown-vpc {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 170px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-vpc {
    background-color: #eaf1fb;
    text-align: center;
}

.list-navbar-dropdown-vpc {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-vpc h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.list-navbar-dropdown-vpc li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-vpc ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-vpc i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-vpc ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-vpc ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-vpc ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}





#navbar-dropdown-transit-gateway {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 236px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-transit-gateway {
    background-color: #eaf1fb;
    text-align: center;
}

.list-navbar-dropdown-transit-gateway {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-transit-gateway h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.list-navbar-dropdown-transit-gateway li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-transit-gateway ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-transit-gateway i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-transit-gateway ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-transit-gateway ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-transit-gateway ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}



#navbar-dropdown-subnets {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 305px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-subnets {
    background-color: #eaf1fb;
    text-align: center;
}

.list-navbar-dropdown-subnets {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-subnets h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.list-navbar-dropdown-subnets li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-subnets ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-subnets i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-subnets ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-subnets ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-subnets ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}



#navbar-dropdown-route-table {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 375px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-route-table {
    background-color: #eaf1fb;
    text-align: center;
}

.list-navbar-dropdown-route-table {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-route-table h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.list-navbar-dropdown-route-table li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-route-table ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-route-table i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-route-table ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-route-table ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-route-table ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}



#navbar-dropdown-vpn {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 440px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-vpn {
    background-color: #eaf1fb;
    text-align: center;
}

.list-navbar-dropdown-vpn {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-vpn h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.list-navbar-dropdown-vpn li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-vpn ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-vpn i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-vpn ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-vpn ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-vpn ul li a:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
}


.navbar_top_right {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 160px!important;
    min-width: 160px!important;
    overflow: hidden;
    z-index: 4;
    height: 40px;
    width: 100px;
    margin-left: 1750px;
    border-radius: 0 0 5px 5px;
    background-color: #eaf1fb;
}

.icon-menu2 i {
    position: absolute;
    font-size: 1.5em;
    color: #5f6368;
    margin-left: 12px;
    margin-top: 8px;
} 

#account_top_right {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    height: 35px;
    width: 100px;
    margin-left: 60px;
    margin-top: 2.5px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    background-color: #f0f0f0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#account_top_right i {
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin: 6px 72.5px;
}

#account_top_right img {
    display: inline-block;
    position: absolute;
    opacity: 1;
    margin: 3px 1px;
    height: 30px;
    width: 75px;
    background-repeat: no-repeat;
    border: 0;
    vertical-align: middle;
}

#account_top_right:hover {
    background-color: #d3e3fd;
    cursor: pointer;
}

#description_informations_element {
    background-color: #1a73e8;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.gra_test {
    font-size: 1em;
    font-family: 'SFProRounded';
    color: #1f1f1f;
}

#navbar-dropdown-account {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 338px!important;
    min-width: 338px!important;
    max-height: 400px!important;
    min-height: 400px!important;
    overflow: hidden;
    z-index: 4;
    width: 338px;
    height: 400px;
    margin-top: 44px;
    margin-left: 1572.25px;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
}

.message_advert_account {
    background: #e8f0fe;
    border-radius: 4px;
    font-weight: 400;
    margin: 4px;
    padding: 4px 8px;
    white-space: normal;
}

.message_advert_account_first_span {
    color: #5f6368;
    font: 400 12px/16px Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
    text-align: center;
}

.message_advert_account_first_span_2 {
    font-weight: 600;
}

.show_more_account_advert {
    color: #1a73e8;
    outline: 0;
    white-space: nowrap;
}

.show_more_account_advert a {
    font-weight: 500;
    text-decoration: none;
    font: 400 12px/16px Roboto,Helvetica,Arial,sans-serif;
    color: #2962ff;
}

.account_details_dropdown {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 338px!important;
    min-width: 338px!important;
    max-height: 400px!important;
    min-height: 400px!important;
    z-index: 4;
    width: 338px;
    height: 400px;
    margin-top: 44px;
    text-align: center;
}

.account_details_dropdown_img {
    display: flex;
    height: 80px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: 80px;
}

.account_details_dropdown_img img {
    border-radius: 50%;
}

.first_last_name_dropdown {
    font: 500 16px/24px "Google Sans",Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .1px;
    color: #202124;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
}

.mail_dropdown {
    text-align: center;
    color: #5f6368;
    font: 400 14px/20px Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .2px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    padding-bottom: 20px;
}

.manage_account_dropdown_a {
    border: 1px solid #dadce0;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
    border-radius: 100px;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: 254px;
    outline: 0;
    padding: 6px 16px;
    
    color: #3c4043;
    font: 500 14px/20px "Google Sans",Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    text-decoration: none;
}

.logout_dropdown {
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
    padding: 16px 0;
    text-align: center;
    margin-top: 15px;
}

.logout_dropdown_a {
    border-radius: 4px;
    max-width: 246px;
    outline: 0;
    padding: 8px 24px;
    border: 1px solid #dadce0;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: normal;
    color: #3c4043;
    font: 500 14px/20px "Google Sans",Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
}

.logout_dropdown_div {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
}

.bottom_account_details_dropdown {
    box-sizing: border-box;
    height: 51px;
    padding-bottom: 17px;
    padding-top: 17px;
    text-align: center;
}

.bottom_account_details_dropdown_1 {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px 7px;
    text-align: left;
    color: #5f6368;
    font: 400 12px/16px Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
    text-align: center;
    text-decoration: none;
}

.bottom_account_details_dropdown_2 {
    box-sizing: border-box;
    height: 51px;
    padding-bottom: 17px;
    padding-top: 17px;
    text-align: center;
}

.bottom_account_details_dropdown_3 {
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 4px 7px;
    text-align: left;
    color: #5f6368;
    font: 400 12px/16px Roboto,Helvetica,Arial,sans-serif;
    letter-spacing: .3px;
    text-align: center;
    text-decoration: none;
}

.manage_account_dropdown_a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.logout_dropdown_a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.bottom_account_details_dropdown_1:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.bottom_account_details_dropdown_3:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.encadre_type_cloud {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 400px;
    margin-left: 100px;
    height: 200px;
    width: 1780px;
    justify-content: center;
}

.encadre_type_cloud_div {
    display: inline-block;
    max-width: 230px!important;
    min-width: 230px!important;
    max-height: 170px!important;
    min-height: 170px!important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 25px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
}

.encadre_type_cloud_div h2 {
    font-size: 1em;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

.encadre_type_cloud_div img {
    width: 100px;
    height: 100px;
    margin-top: 8px;
}

.encadre_type_cloud_div:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.encadre_type_cloud p {
    position: absolute;
    font-size: 1.25em;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-top: -30px;
}



#show_more_elements_navbar_vpc {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_vpc_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_vpc_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_vpc_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_vpc_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_vpc_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_vpc_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_vpc_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_vpc_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_vpc_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_vpc_3:nth-child(even) {
    background-color: #eaf1fb5e;
}



#show_more_elements_navbar_transit_gateway {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_transit_gateway_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_transit_gateway_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_transit_gateway_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_transit_gateway_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_transit_gateway_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_transit_gateway_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_transit_gateway_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_transit_gateway_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_transit_gateway_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_transit_gateway_3:nth-child(even) {
    background-color: #eaf1fb5e;
}

#show_more_elements_navbar_route_table {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_route_table_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_route_table_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_route_table_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_route_table_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_route_table_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_route_table_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_route_table_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_route_table_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_route_table_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_route_table_3:nth-child(even) {
    background-color: #eaf1fb5e;
}


#show_more_elements_navbar_vpn {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_vpn_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_vpn_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_vpn_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_vpn_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_vpn_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_vpn_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_vpn_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_vpn_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_vpn_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_vpn_3:nth-child(even) {
    background-color: #eaf1fb5e;
}

#navbar-dropdown-subnets-li {
    display: none;
}

#navbar-dropdown-vpn-li {
    display: none;
}

#navbar-dropdown-table-routage-li {
    display: none;
}


#show_more_elements_navbar_subnets {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 256px;
    width: 100%;
    margin-left: 70px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.show_more_elements_navbar_subnets_2 {
    background-color: #eaf1fb;
    text-align: center;
}

.show_more_elements_navbar_subnets_2 h2 {
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
}

.show_more_elements_navbar_subnets_3 li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.show_more_elements_navbar_subnets_3 ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
}

.show_more_elements_navbar_subnets_3 i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.show_more_elements_navbar_subnets_3 ul li a {
    position: relative;
    font-size: .85em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.show_more_elements_navbar_subnets_3 ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.show_more_elements_navbar_subnets_3 ul li a:hover {
    background-color: #fcfcfc;
    border-radius: 5px;
}

.show_more_elements_navbar_subnets_3 {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.show_more_elements_navbar_subnets_3:nth-child(even) {
    background-color: #eaf1fb5e;
}


#navbar-dropdown-infos-elements {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-height: 925px!important;
    height: 100%;
    max-width: 400px;
    width: 100%;
    margin-left: 1510px;
    margin-top: 60px;
    border-radius: 0 5px 0px 0;
    background-color: #f0f0f0;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

.top-class-navbar-dropdown-infos-elements {
    background-color: #eaf1fb;
    text-align: center;
}

#list-navbar-dropdown-infos-elements {
    background-color: #ffffff;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.top-class-navbar-dropdown-infos-elements h2 {
    font-size: 1.25em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    font-weight: 500;
}

#icon-menu-close-infos-element{
    position: absolute;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: normal;
    color: #868686;
    font-weight: 500;
    margin-top: -40px;
    margin-left: 170px;
}

#icon-menu-shwo-more-infos-element i{
    position: absolute;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: normal;
    color: #868686;
    font-weight: 500;
    margin-top: -40px;
    margin-left: 130px;
}

#list-navbar-dropdown-infos-elements table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
}

#list-navbar-dropdown-infos-elements table tr {
    border: 1px solid #ddd;
    padding: 8px;
    margin-left: -20px;
}

#list-navbar-dropdown-infos-elements table tr:nth-child(even) {
    background-color: #eaf1fb5e;
}

#list-navbar-dropdown-infos-elements table tr:hover {
    background-color: #ddd;
}

#list-navbar-dropdown-infos-elements table td {
    font-size: .85em;
    font-family: 'SFProRounded';
    letter-spacing: .25px;
    color: #1f1f1f;
    font-weight: 400;
    text-align: center;
    padding: 8px;
}


.icon_come_back {
    position: absolute;
    /* margin-left: 70px; */
}

.icon_come_back i {
    font-size: 1.5em;
    color: #868686;
}