body {
    position: inherit;
    min-height: 100%;
}

.navbar {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eaf1fb;
    border-radius: 0vh 0vh 1vh 1vh;
    width: 30vw;
    left: 35%;
}

.navbar-ul {
    position: relative;
    /* left: 5vw; */
    /* background-color: #006aff; */
}

.navbar-ul ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.navbar-ul li {
    float: left;
}
  
.navbar-ul li a {
    display: block;
    color: #202124;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'SFProRounded';
    font-size: 1em;
}
  
.navbar-ul li a:hover {
    background-color: #e2e2e2;
    border-radius: 5vh;
}

.navbar2 {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 68px!important;
    min-width: 68px!important;
    overflow: hidden;
    background-color: #eaf1fb;
    transition-property: background-color,box-shadow;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    z-index: 4;
    height: 100%;
    width: 68px;
    border-radius: 0 15px 15px 0;
}

.navbar2-ul ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    margin-top: 100px;
}

.navbar2-ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 48px;
    width: 68px;
    margin-left: -40px;
    padding-bottom: 20px;
    text-align: center;
}

.navbar2-ul li a {
    position: relative;
    font-size: .75em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 500;
}

.navbar2-ul li i {
    position: relative;
    font-size: 1.15em;
    color: #1f1f1f;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
}

.navbar2-ul li:hover {
    background-color: #d3e3fd;
    border-radius: 20px;
}

.icon-menu i {
    position: absolute;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    left: 23px;
    top: 15px;
} 

#navbar-dropdown-cloud {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    /* background-color: #eaf1fb; */
    transition-property: background-color,box-shadow;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    z-index: 4;
    width: 250px;
    margin-top: 100px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-cloud {
    background-color: #eaf1fb;
}

.list-navbar-dropdown-cloud {
    background-color: #ffffff;
}

.top-class-navbar-dropdown-cloud h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-left: 125px;
}

.list-navbar-dropdown-cloud li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 48px;
    width: 250px;
    margin-left: -40px;
    padding-bottom: 20px;
    text-align: center;
}