
.navbar2 {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 68px!important;
    min-width: 68px!important;
    overflow: hidden;
    background-color: #eaf1fb;
    z-index: 4;
    height: 100%;
    width: 68px;
    border-radius: 0 15px 15px 0;
}

.navbar2-ul ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    margin-top: 100px;
}

.navbar2-ul li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 48px;
    width: 68px;
    margin-left: -40px;
    padding-bottom: 20px;
    text-align: center;
}

.navbar2-ul li a {
    position: relative;
    font-size: .75em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 500;
}

.navbar2-ul li i {
    position: relative;
    font-size: 1.15em;
    color: #5f6368;
    font-weight: 400;
    margin-left: 0px;
    margin-top: 5px;
}

.navbar2-ul li:hover {
    background-color: #d3e3fd;
    border-radius: 20px;
}

.icon-menu i {
    position: absolute;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    left: 23px;
    top: 15px;
} 





#navbar-dropdown-cloud {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 100px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-cloud {
    background-color: #eaf1fb;
}

.list-navbar-dropdown-cloud {
    background-color: #f0f0f0;
}

.top-class-navbar-dropdown-cloud h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-left: 125px;
}

.list-navbar-dropdown-cloud li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-cloud ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-cloud i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-cloud ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-cloud ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-cloud ul li a:hover {
    background-color: #d3e3fd;
    border-radius: 5px;
}







#navbar-dropdown-vpc {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 170px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-vpc {
    background-color: #eaf1fb;
}

.list-navbar-dropdown-vpc {
    background-color: #f0f0f0;
}

.top-class-navbar-dropdown-vpc h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-left: 135px;
}

.list-navbar-dropdown-vpc li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-vpc ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-vpc i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-vpc ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-vpc ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-vpc ul li a:hover {
    background-color: #d3e3fd;
    border-radius: 5px;
}





#navbar-dropdown-transit-gateway {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 236px;
    margin-left: 68px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-transit-gateway {
    background-color: #eaf1fb;
}

.list-navbar-dropdown-transit-gateway {
    background-color: #f0f0f0;
}

.top-class-navbar-dropdown-transit-gateway h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-left: 90px;
}

.list-navbar-dropdown-transit-gateway li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-transit-gateway ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-transit-gateway i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-transit-gateway ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-transit-gateway ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-transit-gateway ul li a:hover {
    background-color: #d3e3fd;
    border-radius: 5px;
}

.navbar_top_right {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 200px!important;
    min-width: 200px!important;
    overflow: hidden;
    background-color: #eaf1fb;
    z-index: 4;
    height: 40px;
    width: 200px;
    margin-left: 86.75%;
    border-radius: 0 0 15px 15px;
}

.settings {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
}

.settings i {
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin: 3px 3px;
}

.settings:hover {
    background-color: #d3e3fd;
    border-radius: 100%;
}

#infos_element_top_right {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    height: 30px;
    width: 30px;
    margin-left: 50px;
    margin-top: 5px;
    border-radius: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
}

#infos_element_top_right i {
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin: 3px 4px;
}

#infos_element_top_right:hover {
    background-color: #d3e3fd;
    border-radius: 100%;
}

.account_top_right {
    position: absolute;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    height: 35px;
    width: 100px;
    margin-left: 95px;
    margin-top: 2.5px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-decoration: none;
    background-color: #f0f0f0;
}

.account_top_right i {
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin: 6px 72.5px;
}

.account_top_right img {
    position: absolute;
    opacity: 1;
    margin: 3px 1px;
    height: 30px;
    width: 75px;
}

.account_top_right:hover {
    background-color: #d3e3fd;
}

#navbar-dropdown-infos-element {
    position: absolute;
    margin-top: 0;
    display: none;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 300px!important;
    min-width: 300px!important;
    overflow: hidden;
    z-index: 4;
    width: 250px;
    margin-top: 35px;
    margin-left: 80%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.top-class-navbar-dropdown-infos-element {
    background-color: #eaf1fb;
}

.list-navbar-dropdown-infos-element {
    background-color: #f0f0f0;
}

.top-class-navbar-dropdown-infos-element h2 {
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    margin-left: 90px;
}

.list-navbar-dropdown-infos-element li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-bottom: 7px;
}

.list-navbar-dropdown-infos-element ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 80%;
    margin-left: 10px;
    background-color: #f0f0f0;
    border-radius: 5px 5px 5px 5px;
}

.list-navbar-dropdown-infos-element i {
    position: relative;
    font-size: 1.5em;
    color: #5f6368;
    opacity: 1;
    margin-left: 15px;
    margin-top: 10px;
}

.list-navbar-dropdown-infos-element ul li a {
    position: relative;
    font-size: 1em;
    text-decoration: none;
    font-family: 'SFProRounded';
    letter-spacing: normal;
    color: #1f1f1f;
    cursor: pointer;
    font-weight: 400;
    margin-left: 5px;
}

.list-navbar-dropdown-infos-element ul li i {
    position: absolute;
    font-size: 1em;
    text-decoration: none;
    letter-spacing: normal;
    color: #5f6368;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: -30px;
    margin-top: 1px;
}

.list-navbar-dropdown-infos-element ul li a:hover {
    background-color: #d3e3fd;
    border-radius: 5px;
}