.register_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    width: 45%;
    height: 55%;
    margin-top: 10%;
    margin-left: 27.5%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid #dadce0;
}

.register_form h1 {
    color: #202124;
    padding-bottom: 0;
    padding-top: 3%;
    font-family: 'SFProRounded';
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.3333;
    letter-spacing: 0.2px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 5%;
    word-break: break-word;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    text-align: left;
}

.register_form span {
    color: #202124;
    font-family: 'SFProRounded';
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    margin-left: 5%;
}

.register_form_form {
    box-sizing: inherit;
    display: flex;
    font-size: 1em;
    white-space: normal;
    width: 50%;
    height: 45%;
    margin-left: 5%;
    margin-top: 2%;
    color: #202124;
    font-family: roboto,"Noto Sans Myanmar UI",arial,sans-serif;
    color-scheme: light;
    /* background-color: #202124; */
}

.register_img_right {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    width: 344px;
    height: 344px;
    aspect-ratio: auto 244 / 244;
    margin-top: 10%;
    margin-left: 55%;
    background-color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    /* border: 1px solid #dadce0; */
}

.register_form_form_firstname {
    border-radius: 4px;
    z-index: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    line-height: 30px;
    width: 180px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dadce0;
    font-size: .85em;
    font-family: 'SFProRounded';
}

.register_form_form_firstname::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

.register_form_form_lastname {
    position: relative;
    border-radius: 4px;
    color: #202124;
    z-index: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    line-height: 30px;
    width: 180px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dadce0;
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-left: 190px;
    margin-top: -36px;
}

.register_form_form_lastname::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

.register_form_form_email {
    position: relative;
    border-radius: 4px;
    color: #202124;
    z-index: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    line-height: 30px;
    width: 370px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dadce0;
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-top: 20px;
}

.register_form_form_email::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

.bottom_register_form_form_email {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .75em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    width: 370px;
    height: 50px;
    margin-top: 90px;
    margin-left: -10px;
}

#register_form_form_password {
    border-radius: 4px;
    z-index: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    line-height: 30px;
    width: 180px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dadce0;
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-top: 30px;
}

#register_form_form_password::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

#register_form_form_password_verif {
    position: relative;
    border-radius: 4px;
    color: #202124;
    z-index: 1;
    flex-shrink: 1;
    background-color: transparent;
    border: none;
    display: block;
    line-height: 30px;
    width: 180px;
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid #dadce0;
    font-size: .85em;
    font-family: 'SFProRounded';
    margin-left: 190px;
    margin-top: -36px;
}

#register_form_form_password_verif::placeholder {
    position: relative;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .85em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0%;
    text-align: left;
    padding: 10px;
}

.bottom_register_form_form_password {
    position: absolute;
    color: #767679;
    font-family: 'SFProRounded';
    font-size: .75em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    max-width: 370px!important;
    min-width: 370px!important;
    width: 100px;
    height: 50px;
    margin-top: 5px;
    margin-left: -175px;
    text-align: left;
}

.checkbox_show_password {
    position: relative;
    margin-top: 70px;
    margin-left: -350px;
}

.bottom_checkbox_show_password {
    position: absolute;
    margin-top: 65px;
    margin-left: 20px;
    color: #555557;
    font-family: 'SFProRounded';
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
}

.connect_exist_account {
    position: absolute;
    color: #1a73e8;
    font-family: 'SFProRounded';
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    margin-top: 25%;
    margin-left: -10px;
    text-decoration: none;
}

input[type=submit] {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    z-index: 4;
    max-width: 100px!important;
    min-width: 100px!important;
    max-height: 36px!important;
    min-height: 36px!important;
    margin-top: 14%;
    margin-left: 31%;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    border: none;
    background-color: rgb(117, 162, 221);
    color: #ffffff;
    padding: 9px 25px;
    text-decoration: none;
    font-size: .85em;
    transition: .2s;
    box-shadow: 0 6px 0 #1664c9;
}

input[type=submit]:active {
    transform: translateY(5px);
    box-shadow: 0 5px 0 #1664c9;
}

.submit_button:hover {
    cursor: pointer;
}

.error {
    color: red;
    font-size: 1em;
    font-family: 'SFProRounded';
    text-align: center;
    justify-content: center;
    align-items: center;
}

input:invalid {
    animation: shake .3s;
}

@keyframes shake {
    25% { transform: translateX(1.5%) }
    50% { transform: translateX(-1.5%) }
    75% { transform: translateX(1.5%) }
}

.captcha {
    position: absolute;
    margin-top: 3%;
}